@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
  font-family: 'Droid Sans', sans-serif;
}

#title {
  margin: 60px 20px;
}

#brush-container {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}

#chart_container {
  width: 100%;
  // overflow-x: scroll;
}